# defined for DO apps
asgiref==3.7.2
dj-database-url==2.0.0
gunicorn==21.1.0
psycopg2-binary==2.9.6
sqlparse==0.4.4
whitenoise==6.5.0

# Code Quality
pur==7.1.0
black==23.7.0
ruff==0.0.278

# Custom packages
pip==23.2
django==4.2.3
django-upgrade==1.14.0
pyfitness==0.2.1
itables==1.5.3

# django-markdownify==0.9.3
Markdown==3.4.3

# html/css/js packages
crispy-bootstrap5==0.7
