# defined for DO apps
asgiref==3.7.2
dj-database-url==2.0.0
gunicorn==20.1.0
psycopg2-binary==2.9.6
sqlparse==0.4.4
whitenoise==6.4.0

# Code Quality
pur==7.1.0
black==23.3.0
ruff==0.0.270

# Custom packages
pip==23.1.2
django==4.2.1
pyfitness==0.2.1
django-upgrade==1.13
# django-markdownify==0.9.3
Markdown==3.4.3

# html/css/js packages
crispy-bootstrap5==0.7
